@use "../../../scss/" as *;

.topic {
  font-size: 22px;
  background: $gradient-green;
  @include text-gradient;
}

.content {
  grid-template-columns: 1fr 2fr;
}

// .post-list {
//   animation: appear 1.5s ease-in-out;
// }

// @keyframes appear {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
