@use "../../../scss/" as *;
.header {
  position: sticky;
  z-index: 999;
  top: 0;
  height: 80px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0px 1px 20px rgba(0, 144, 255, 0.1);
  .header-container {
    height: 100%;
    width: 100%;
  }
  .nav {
    a {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 20px 0px;
      border-bottom: 4px solid #fff;
      transition: all 0.2s ease;
      &.active {
        font-weight: bold;
        background: $gradient-primary;
        @include text-gradient;
        border-bottom: 4px solid $primary-color;
        // animation: slip 0.3s linear;
      }
    }
  }
  .btn-menu {
    background: #fff;
    border: 2px solid $primary-color;
    &:hover {
      background: $primary-color;
      border: 2px solid $primary-color;
      path {
        fill: #fff;
      }
    }
  }

  &-res.header {
    .nav {
      width: 100%;
      a {
        width: 100%;
        height: 60px;
        padding: 16px 30px !important;
        border-bottom: 0;
        border-left: 2px solid #fff;
        &:hover,
        &.active {
          font-weight: bold;
          background: $gradient-primary;
          @include text-gradient;
          border-left: 2px solid #c5d8ff;
        }
      }
      button {
        display: inline-block;
        align-self: flex-end;
        margin: auto 10px 20px 0;
        color: $text-color;
        a {
          padding: 5px 30px !important;
          border-left: 0px;
        }
        &:hover,
        a:hover {
          border-left: 0px;
          background: transparent;
          -webkit-text-fill-color: $primary-color;
          .arrow path {
            fill: #86abf9;
          }
        }
      }
    }
    path:hover {
      fill: #86abf9;
    }
    .btn-menu path:hover {
      fill: #fff;
    }
    .menu-sidebar {
      animation: swiper 0.3s ease;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 0 40px;
    button.btn-base {
      display: none;
    }
    .nav {
      margin-right: 0px;
    }
  }
}

// @media (max-width: 750px) {
//   .header {
//     > div {
//       column-gap: 20px;
//     }
//     button {
//       display: none;
//     }
//     .nav {
//       display: none;
//     }
//   }
// }

@keyframes swiper {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
