@use "../../../scss/" as *;
footer {
  background: linear-gradient(
    180deg,
    rgba(245, 243, 253, 0.52) -18.02%,
    #ffffff 101.84%
  );
  a:hover {
    color: $primary-color;
  }
  .right {
    padding-top: 25px;
    ul {
      li {
        color: #475467;
      }
      li:first-child {
        color: #373737;
        // font-family: "SegoeUI-bold";
        font-weight: 600;
      }
    }
  }
}
