@use "../../../scss/" as *;
footer {
  background: linear-gradient(
    180deg,
    rgba(245, 243, 253, 0.52) -18.02%,
    #ffffff 101.84%
  );
  a:hover {
    color: $primary-color;
  }
  .right {
    padding-top: 25px;
    ul {
      li {
        color: #475467;
      }
      li:first-child {
        color: #373737;
        // font-family: "SegoeUI-bold";
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer-container {
      flex-direction: column;
      align-items: center;
      .left {
        max-width: 90%;
        padding-right: 0px;
      }
      .right {
        max-width: 90%;
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  footer {
    .footer-container {
      .right {
        .list {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
      }
    }
  }
}
