@use "../../../scss/" as *;

.introduce {
  background-size: content;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    font-size: 45px;
    span {
      background: $gradient-secondary;
      @include text-gradient;
    }
  }
  .action {
    span {
      font-weight: bold;
      background: $gradient-third;
      @include text-gradient;
    }
  }
  .info .info-item div {
    border-right: 1px solid #d1d1d1;
  }

  .info .info-item:last-child div {
    border-right: 0px;
  }
}

section h3 {
  color: #3c4861;
}

.intro-ec {
  &-title {
    background: $gradient-primary;
    @include text-gradient;
    position: absolute;
    z-index: 10;
    // transform: translateX(10%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border: 5px;
    height: 25px;
    width: 150px;
    background: #fff;
    z-index: 2;
    transform: translateX(-50%);
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 12px;
    width: 100%;
    height: 1px;
    background: $gradient-primary;
  }
}

@media (max-width: 1200px) {
  .intro-event {
    width: 80%;
    &_content {
      & > div {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        row-gap: 36px;
      }
    }
  }
}

@media (max-width: 750px) {
  .intro-event {
    &_content {
      & > div {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(0, 1fr));
        row-gap: 36px;
      }
    }
  }
  .intro-ec {
    & > div {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      & > div {
        width: 100%;
        img {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
  .intro-teams {
    .card-list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(0, 1fr));
      row-gap: 56px;
      // .card-team {
      //   width: 200px;
      // }
    }
  }
}
