@use "./scss/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply text-base font-body;
  }
}

.break-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.break-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.btn-base {
  background: $gradient-primary;
  box-shadow: 7px 6px 9px rgba(5, 97, 255, 0.13),
    2px 1px 5px rgba(5, 97, 255, 0.15), 0px 0px 0px rgba(5, 97, 255, 0.15);
}

.btn-primary {
  background: $gradient-primary;
}

.btn-intro {
  background: $primary-color;
  filter: drop-shadow(0px 39px 15px rgba(122, 159, 240, 0.04))
    drop-shadow(0px 22px 13px rgba(122, 159, 240, 0.13))
    drop-shadow(0px 10px 10px rgba(122, 159, 240, 0.21))
    drop-shadow(0px 2px 5px rgba(122, 159, 240, 0.25))
    drop-shadow(0px 0px 0px rgba(122, 159, 240, 0.25));
}

.btn-load {
  color: #ff6915;
  background: linear-gradient(
    180deg,
    rgba(255, 144, 82, 0.25) 0%,
    rgba(245, 149, 75, 0.25) 100%
  );
  opacity: 0.9;
  box-shadow: 0px 4px 20px 2px rgba(242, 120, 51, 0.15);
  border-radius: 30px;
}

.title:hover {
  color: $primary-color;
  cursor: pointer;
}
