$primary-color: #86abf9;
$text-color: #050505;
$gradient-primary: linear-gradient(
  252.7deg,
  #86abf9 1.38%,
  #6c9bff 41.95%,
  #6897fb 86.41%
);
$gradient-secondary: linear-gradient(
  86.36deg,
  #86abf9 4.61%,
  #6be7f8 61.29%,
  #79a3fd 126.08%
);
$gradient-third: linear-gradient(
  263.07deg,
  #00ffe0 -27.74%,
  #4bd0ee 46.03%,
  #86abf9 112.95%
);
$gradient-green: linear-gradient(180deg, #33f9b2 -20.65%, #35e49b 140.22%);
